In [3]:
SELECT NEV,
        EMAIL
FROM Vendeg
WHERE Year(SZUL_DAT)=1990 AND MONTH(SZUL_DAT) IN (7, 8, 9, 10, 11, 12)
ORDER BY MONTH(SZUL_DAT) ASC

NEV,EMAIL
Bodor Szabolcs,szabolcs.bodor@mail.hu
Bosnyák Ilona,ilona3@gmail.com
Szabó Julianna,julianna4@gmail.com
Berta Dávid,david4@gmail.com

In [14]:
SELECT szh.TIPUS,
        Round(COUNT(*),-2) AS 'Foglalás DB'
FROM Foglalas f JOIN Szoba sz ON f.SZOBA_FK = sz.SZOBA_ID
                JOIN Szallashely szh ON sz.SZALLAS_FK = szh.SZALLAS_ID
GROUP BY szh.TIPUS
HAVING ROUND(COUNT(*),-2) < 500

TIPUS,Típusonként foglalás
Apartman,100
vendégház,100
panzió,200